
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">New credit</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  Modal-body-deposit
</div>
<div class="modal-footer">
  Modal-footer-deposit
</div>
